<%- block("title").append("<title>New Image</title>") %>
<!-- Form to upload a new image -->
<%- layout("layouts/boilerplate") %>
<form
  id="uploadForm"
  enctype="multipart/form-data"
  action="/users/<%= user._id %>"
  method="POST"
>
  <h2>Upload an Image</h2>
  <label for="image">Select an image file:</label>
  <input type="file" id="image" name="image" accept="image/*" required />
  <button type="submit">Upload</button>
</form>
