<%- block("title").append("<title>New Image</title>") %>
<!-- Form to upload new images -->
<%- layout("layouts/boilerplate") %>

<div class="container my-5">
  <div class="text-center mb-4">
    <h2>Upload Images</h2>
  </div>

  <form
    id="uploadForm"
    enctype="multipart/form-data"
    action="/users/<%= user._id %>"
    method="POST"
    class="border p-4 rounded shadow-sm"
  >
    <div class="mb-3">
      <label for="images" class="form-label">Select image file(s):</label>
      <input
        type="file"
        id="images"
        name="images"
        class="form-control"
        accept="image/*"
        required
        multiple
      />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary w-50 w-md-auto">
        Upload
      </button>
    </div>
  </form>
</div>
